.overlay {
  display: none;
  z-index: 999990;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(23, 23, 23, 0.6);
}

.modal-content {
  display: none;
  z-index: 999999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 620px;
  padding: 50px 45px;
  background-color: #fff;
  color: #171717;

  @include media-M {
    max-width: 800px;
  }

  @include media-XS {
    width: 90%;
    padding: 30px 25px;
  }
}

.modal-content__close {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  font-size: 0;
  line-height: 0;

  width: 40px;
  height: 40px;

  cursor: pointer;

  &:after,
  &:before {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #171717;
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover {
    &:after,
    &:before {
      background-color: $accent-color;
    }
  }
}

.modal-content__title {
  margin: 0;
  padding-top: 20px;
  margin-bottom: .4em;

  @include media-XS {
    font-size: 20px;
  }
}

.modal-content__descr {
  margin: 0;
  margin-bottom: 1.5em;

  @include media-XS {
    font-size: 15px;
    margin-bottom: 1em;
  }
}

.question-form {
  display: flex;
  flex-direction: column;

}

.question-form__field {
  padding: 0;
  border: none;
  border-bottom: 1px solid #171717;
  padding: 20px 0;
  outline: none;

  &:active,
  &:focus {
    border-bottom: 1px solid $accent-color;
  }

  &::placeholder {
    font-size: 14px;
  }
}

.question-form__main-fileds {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  gap: 20px;
  margin-bottom: 50px;

  @include media-XS {
    gap: 10px;
  }
}

.question-form__moms-checkbox {
  margin-bottom: 20px;

  @include media-XS {
    font-size: 14px;
  }
}

.modal-content__btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.modal-content__message {
  color: #e93131;
}

.field-error {
  border-bottom: 1px solid #e93131;
  
  &:focus {
    border-bottom: 1px solid #e93131;
  }
  &::placeholder {
    color: #e93131;
  }
}

.errorColor {
  color: #e93131;
}