.main-screen {
  display: flex;
  min-height: 960px;
  padding-bottom: 95px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-repeat: no-repeat;
  background-image: url(../../../img/mask-main-bg.png);
  background-size: cover;
  background-position: center;

  @include media-M {
    min-height: 907px;
    padding-bottom: 76px;
  }

  @include media-XS {
    min-height: 495px;
    padding-bottom: 52px;
  }
}

.main-screen__content {
  max-width: 686px;
  margin-top: auto;
  margin-right: auto;
}

.main-screen__title {
  font-size: 42px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;

  @include media-M {
    font-size: 38px;
  }

  @include media-XS {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.main-screen__text {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 40px;
  color: #cdcdcd;

  @include media-XS {
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 250px;
  }
}