.cards {
  padding-top: 134px;
  padding-bottom: 256px;

  @include media-M {
    padding-top: 44px;
    padding-bottom: 156px;
  }

  @include media-XS {
    padding-top: 48px;
    padding-bottom: 43px;
  }
}

.cards__title {
  margin: 0;
  font-size: 42px;
  margin-bottom: 53px;

  @include media-M {
    margin-bottom: 40px;
  }

  @include media-XS {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.card__image-link {
  display: block;
  font-size: 0;
  line-height: 0;
}

.cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
  gap: 30px;
  margin-bottom: 60px;

  @include media-M {
    gap: 20px;
  }

  @include media-XS {
    margin-bottom: 38px;
  }

  @include media-custom(375px) {
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
  }
}

.card__text-content {
  padding: 25px 24px 30px 24px;
  background-color: #fff;
  color: $font-color-dark;

  @include media-M {
    padding: 30px 25px;
  }
}

.card__category {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.card__title-link {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $accent-color;
  }
}

.card__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__author {
  font-size: 12px;
  line-height: 24px;
  color: #666;
  margin: 0;
  margin-bottom: 25px;
}

.card__btn {
  display: inline-block;
  margin: 0 auto;
  padding: 15px 26px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  background-color: #171717;
  
  color: #FFF;
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;

  &:hover {
    background-color: $accent-color;
    color: #171717;
  }
}

.cards__load-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}