.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cards {
  @include media-M {
    padding-top: 44px;
    padding-bottom: 156px;
  }

  @include media-XS {
    padding-top: 48px;
    padding-bottom: 43px;
  }

  padding-top: 128px;
  padding-bottom: 256px;
}

.cards__title {
  @include media-M {
    margin-bottom: 40px;
  }

  @include media-XS {
    font-size: 20px;
    margin-bottom: 30px;
  }

  margin: 0;
  margin-bottom: 46px;
  font-size: 42px;
  text-transform: uppercase;
}

.card__image-link {
  display: block;
  font-size: 0;
  line-height: 0;
}

.cards__list {
  @include media-M {
    gap: 20px;
  }

  @include media-XS {
    margin-bottom: 38px;
  }

  @include media-custom(375px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
}

.card__text-content {
  @include media-M {
    padding: 30px 25px;
  }

  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px 24px 30px;
  background-color: #fff;
  color: $font-color-dark;
}

.card__category {
  margin: 0;
  font-family: Mulish, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.card__title-link {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $accent-color;
  }
}

.card__description {
  display: box;
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.card__author {
  font-size: 12px;
  line-height: 24px;
  color: #666;
  margin: 0;
  margin-bottom: 25px;
}

.card__btn {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  margin-top: auto;
  padding: 15px 26px;
  font-family: Mulish, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #171717;
  transition: all 0.4s ease-out;

  &:hover {
    background-color: $accent-color;
    color: #171717;
  }
}

.cards__load-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}
