.main-nav {
  @include media-M {
    box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 99999;
    top: 110px;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    padding: 60px 50px;
    background-color: inherit;
  }

  @include media-XS {
    box-sizing: border-box;
    position: fixed;
    top: 90px;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    padding: 0 18px;
    background-color: inherit;
    padding-bottom: 350px;
  }

  &__list {
    @include media-M {
      flex-direction: column;
      gap: 15px;
    }

    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    @include media-M {
      display: inline-block;
      width: fit-content;
      margin: 0;
    }

    margin-right: 42px;
    margin-bottom: 0.25em;
    margin-top: 0.25em;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include media-M {
      font-size: 36px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #808080;
      -webkit-text-fill-color: transparent;
    }

    @include media-XS {
      font-size: 20px;
      -webkit-text-stroke-width: 0.5px;
    }

    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;

    &:hover {
      color: $accent-color;
    }
  }
}

.main-nav--active {
  display: block !important;
}
