.main-nav {

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    @include media-M {
      flex-direction: column;
      gap: 15px;  
    }
  }

  &__list-item {
    margin-right: 42px;
    margin-bottom: .25em;
    margin-top: .25em;

    &:last-child {
      margin-right: 0;
    }

    @include media-M {
      display: inline-block;
      width: fit-content;
      margin: 0;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease;

    &:hover {
      color: $accent-color;

    }

    @include media-M {
      font-size: 36px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #808080;
      -webkit-text-fill-color: transparent;
      
    }

    @include media-XS {
      font-size: 20px;
      -webkit-text-stroke-width: .5px;      
    }
  }

  @include media-M {
    z-index: 99999;
    
    display: none;
    box-sizing: border-box;
    position: fixed;
    overflow: scroll;
    top: 110px;
    background-color: inherit;
    width: 100vw;
    left: 0;
    height: 100vh;
    padding: 60px 50px;
  }

  @include media-XS {

    box-sizing: border-box;
    position: fixed;
    overflow: scroll;
    top: 90px;
    background-color: inherit;
    width: 100vw;
    left: 0;
    height: 100vh;
    padding: 0 18px;
    padding-bottom: 350px;
  }

}

.main-nav--active {
  display: block !important;
}