h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container-fluid {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    padding: 0px 100px;
}